<div class="container-fluid col-12 col-sm-12 col-md-12 col-lg-12">
        <h2 class="text-center">Completed Trainings</h2>
        <br>
            <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Technology</th>
                        <th scope="col">User Name</th>
                        <th scope="col">Trainer Name</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <th scope="col">Timings</th>
                        <th scope="col">Progress</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let training of trainingList; index as i;">
                        <td>{{ training.technologyName }}</td>
                        <td>{{ training.userName }}</td>
                        <td>{{ training.trainerName }}</td>
                        <td>{{ training.startDate | date }}</td>
                        <td>{{ training.endDate | date }}</td>
                        <td>{{ training.timings }}</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar"
                                     [style.width]="training.progress + '%'"
                                     aria-valuemin="0" aria-valuemax="100">
                                     {{training.progress}}%
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>