<div class="container">
        <form #form="ngForm" #ngValidate>
            <div class="row">
                <div class="col-xs-12 col-12 col-md-4 form-group">
                    <label for="userName">
                        Enter Username:
                    </label>
                    <input type="text" name="userNameText"
                           class="form-control" ngModel
                           id="userName" required #userNameField = "ngModel"
                           [class.field-error] = "form.submitted && userNameField.invalid">
                    <div [hidden] = "!form.submitted || userNameField.valid"
                         class="alert alert-danger">
                        Username is required
                    </div>
                </div>
            </div>
    
            <div class="row">
                <div class="col-xs-12 col-12 col-md-4 form-group">
                    <label for="userPassword">
                        Enter Current Password:
                    </label>
                    <show-hide-password btnStyle="secondary"
                                        [btnOutline]="false">
                        <input type="password" name="password"
                               autocomplete="new-password"
                               id="userPassword" ngModel
                               required #passField = "ngModel"
                               [class.field-error] = "form.submitted && passField.invalid">
                    </show-hide-password>
                    <div [hidden] = "!form.submitted || userNameField.valid"
                         class="alert alert-danger">
                        Password is required
                    </div>
                </div>      
            </div>
    
            <div class="row">
                <div class="col-xs-12 col-12 col-md-4 form-group">
                    <label for="newUserPassword">
                        Enter New Password:
                    </label>
                    <show-hide-password btnStyle="secondary"
                                        [btnOutline]="false">
                        <input type="password" name="newPassword" ngModel
                               required #newPassField = "ngModel"
                               [class.field-error] = "form.submitted && newPassField.invalid"
                               autocomplete="new-password"
                               id="newUserPassword">
                    </show-hide-password>
                    <div [hidden] = "!form.submitted || newPassField.valid"
                         class="alert alert-danger">
                        New password is required to reset Password
                    </div>
                </div>      
            </div>

            <div class="row">
                <div class="col-xs-12 col-12 col-md-4 form-group">
                    <label for="confirmUserPassword">
                        Confirm New Password:
                    </label>
                    <show-hide-password btnStyle="secondary"
                                        [btnOutline]="false">
                        <input type="password" name="confirmNewPassword"
                               autocomplete="new-password" ngModel
                               required #confirmNewPassword = "ngModel"
                               [class.field-error] = "form.submitted && form.invalid"
                               id="confirmUserPassword">
                    </show-hide-password>
                    <div [hidden] = "!form.submitted || confirmNewPassword.valid"
                         class="alert alert-danger">
                        Please Type New Password to Confirm
                    </div>
                </div>      
            </div>

            <div class="row">
                <div class="col-xs-12 col-12 col-md-4 form-group">
                    <button class="btn btn-success" type="submit"
                            id="centeralign">
                        Reset Password
                    </button>
                </div>
            </div>
        </form>
    </div>