<div class="container" id="divtrainingbackground">
    <br>
    <div class="row col-12 col-sm-12 col-md-12 col-lg-12">
        <b>Requested Course</b>
    </div>
    <br>
    <div class="row col-12 col-sm-12 col-md-12 col-lg-12">
        <h6>{{ technologyName }}</h6>
    </div>
    <br>
    <div class="row col-12 col-sm-12 col-md-12 col-lg-12">
        <h6>Fees</h6>
    </div>
    <div class="row col-12 col-sm-12 col-md-12 col-lg-12">
        {{technologyFees}}
    </div>
    <br>
    <div class="row col-12 col-sm-12 col-md-12 col-lg-12">
        <h6>Prerequisites</h6>
    </div>
    <div class="row col-12 col-sm-12 col-md-12 col-lg-12">
        {{technologyPrerequisites}}
    </div>
    <br>
    <div class="row col-12 col-sm-12 col-md-12 col-lg-12">
        <h6>Table of Contents</h6>
    </div>
    <div class="row col-12 col-sm-12 col-md-12 col-lg-12">
        {{technologyToc}}
    </div>
    <br>
</div>