<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['welcome']">
        Mentor On Demand
    </a>
</nav>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" 
            data-toggle="collapse" data-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" aria-expanded="false" 
            aria-label="Toggle navigation"
            (click)="toggleCollapsed()">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" 
         id="navbarSupportedContent"
         [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
      
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['current-training']">Current Training</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['completed-training']">Completed Trainings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['profile']">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['payment']">Payments</a>
        </li>
      </ul>
      <input class="col-12 col-sm-3 col-md-3 col-lg-3 form-control mr-sm-2" type="text" 
               placeholder="Search Technology" 
               [(ngModel)]="searchItem">
        <button class="btn btn-outline-success my-2 my-sm-0" 
                type="submit" 
                [routerLink]="['search']"
                [queryParams] = "{ searchterm: searchItem }">
          Search
        </button>
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['notifications']">Notifications</a>
          </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/user-login']">Logout</a>
            </li>
      </ul>
    </div>
  </nav>
  <br>
  <br>
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 container-fluid">
    <router-outlet></router-outlet>
  </div>
  